.header {
	width: 100%;
	padding: 16px 0 32px 0;
	&__row {
		width: calc(100vw - 30px);
		max-width: 1040px;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		position: relative;
	}
	&__logo {
		display: flex;
		flex-direction: column;
		&__img {
			position: absolute;
			top: 0;
			width: 112px;
		}
	}
}

.menu__list {
	display: flex;
	list-style: none;
	text-align: center;
	width: 100%;
	max-width: 290px;
	justify-content: space-between;
	a {
		color: #023135;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.15px;
	}
}
