/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	margin: 0 auto;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
.slider {
	margin-bottom: -110px;
	.slick-arrow{
		position: absolute;
		top: 60%;
		z-index: 1;
		font-size: 0;
		width: 30px;
		height: 30px;
		display: inline;
		@media (max-width: 1000px) {
			margin: 0 20px;
		}
	}

	.slick-arrow.slick-prev{
		left: 0%;
		mask-image: url('../img/slider-arrow-left.svg');	
		background-color: #007a5c;
	}
	.slick-arrow.slick-next{
		right: 0%;
		mask-image: url('../img/slider-arrow-right.svg');
		background-color: #007a5c;
	}
}
.slider__item {
	min-width: 0;
	transition: all 0.3s ease;
	opacity: 0.3;
}
.slick-slide.slick-center{
	opacity: 1;
}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li{
	margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
	background-color: seagreen;
	
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 1px solid seagreen;
	background-color: transparent;
}




/* Слайдер */
.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Слайд */
.slick-slide{
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
	
}
/* Слайд основной */
.slick-slide.slick-current{
}
/* Слайд по центру */

/* Клонированный слайд */
.slick-slide.slick-cloned{
}
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
