// ШРИФТИ>==================================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// ШРИФТИ>==================================================================================
// Підключення файлів стилів сторінок та елементів>=========================================
@import "_header.scss";
@import "_footer.scss";
@import "_ui.scss";
@import "mixin.scss";
@import "null.scss";
@import "slider.scss";
// Підключення файлів стилів сторінок та елементів>=========================================
// перемінні>===============================================================================
$minwidth: 320px;
// перемінні>===============================================================================

// Загальні параметри>======================================================================
html,
body {
	min-width: 320px;
	font-family: "Roboto", sans-serif;
}
// Загальні параметри>======================================================================

// Оболочка>================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
// Оболочка>================================================================================

// ОСНОВНА СІТКА>===========================================================================
.container {
	width: calc(100vw - 30px);
	max-width: 1040px;
	margin: 0px auto;
	position: relative;
}
// ОСНОВНА СІТКА>===========================================================================

.firstscreen {
	position: relative;
	
		&__row {
			position: relative;
			display: flex;
		}
		&__column {
			display: flex;
		flex: 0 1 50%;
			flex-direction: column;
			padding-bottom: 99px;
		}
		&__title {
			font-size: 50px;
		line-height: 64px;
		letter-spacing: 0.31px;
		color: #32404d;
		padding: 37px 11px 21px 0px;
		z-index: 2;
		}

		&__text {
			font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: #023135;
		padding-bottom: 60px;
		z-index: 2;
		}

		&__img {	
			img{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 28%;
			top: 0;
			z-index: 1;
			object-fit: contain;
		}	
		}

		&__bg {
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
}
.form {
	z-index: 2;
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		width: 200px;
		background: #007a5c;
		border-radius: 30px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #ffffff;
	}
}
// Основний блок>===========================================================================
.lesson {
	padding: 40px 0px 60px 0px;
	&__row {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.67px;
		text-transform: uppercase;
		color: #637381;
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
}
.button-wrapper {
	display: flex;
	justify-content: space-between;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.15px;
		color: #007a5c;
		border: 1px solid #007a5c;
		border-radius: 24px;
		padding: 0 15px;
		height: 36px;
		transition: all 0.4s ease;
		&:hover {
				background-color: #007a5c;
				color: #fff;
				-webkit-box-shadow: 0px 0px 29px 1px rgba(0, 122, 92, 0.7);
-moz-box-shadow: 0px 0px 29px 1px rgba(0, 122, 92, 0.7);
box-shadow: 0px 0px 29px 1px rgba(0, 122, 92, 0.7);

			}
	}
}
// Основний блок>===========================================================================
.phone {
	padding: 29px 0 0 0;
	&__row {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		height: 759px;
	}

	&__title {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 0px 0px 65px 0px;
		font-size: 32px;
			line-height: 44px;
			text-align: center;
			letter-spacing: 0.2px;
			color: #023135;
			width: 100%;
		span {
			width: 64px;
		}
	}

}
.block {
	display: flex;
	flex-direction: column;
	padding: 16px 23px 16px 23px;
	width: 260px;
	background: #FFFFFF;
	border: 1px solid #EBF4FF;
	box-sizing: border-box;
	box-shadow: 0px 4px 7px rgba(222, 234, 249, 0.59);
	border-radius: 24px;
	&__one {
		position: absolute;
		left: 2.7%;
		height: 193px;
	}
	&__number {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		background: #32404d;
		width: 36px;
		height: 36px;
		border-radius: 18px;
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
	}

	&__text {
		display: flex;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: #023135;
		padding: 24px 0 0px 0;
		text-align: center;

	}
	&__three {
		position: absolute;
		align-self: flex-end;
		left: 4.8%;
   	top: 50.5%
	}

	&__img {
		position: absolute;
		padding: 18px 0 0 0;
		width: 449px;
		height: 759px;	
		left: 51%;
		transform: translate(-50%,0);
	}

	&__two {
		position: absolute;
		right: 4.6%;
		top: 16.8%;
		padding: 16px 39px 16px 39px;
	}
}
.arrow {
	position: absolute;
	&:nth-child(2) {
		left: 16%;
		top: 27%;
	}
	&:nth-child(4) {
		left: 20.3%;
   	top: 75.5%;
	}
	&:nth-child(7) {
		right: 15.3%;
		top: 41.5%;
	}
}
// Основний блок>===========================================================================
.privilege {
	padding-top: 25px;
	&__title {
		display: flex;
		justify-content: center;
		font-size: 32px;
		line-height: 32px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #023135;
		padding-bottom: 40px;
	}

	&__row {
		display: flex;
		padding: 0 30px 55px 30px;
	}

	&__column {
		flex: 0 1 33.333%;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}
.block-p {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 247px;
	width: 100%;
	&__img {
	}

	&__title {
		font-size: 22px;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #023135;
		padding: 21px 0 12px 0;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #000000;
	}
}
// Основний блок>===========================================================================
.checklist {
	position: relative;
	background-image: url(../img/checklistBG.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding-top: 55px;
	padding-bottom: 95px;
	&__title {
		font-size: 32px;
		line-height: 49px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #023135;
		margin: 0 auto;
		span {
			padding:0 24px;
		}
	}
}
.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 45px 0 0 0;

	&__item {
		position: relative;
		width: 100%;
		padding-left: 20px;
		max-width: 280px;
		justify-content: space-between;
		margin: 0 80px 0 58px;
		padding: 8px 0 0 0;
		p {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: #023135;
			padding-left: 34px;
		}
		&::before {
			content: "";
			position: absolute;
			display: inline-block;
			width: 16px;
			height: 16px;
			left: 1px;
			top: 11px;
			background-image: url(../img/checkedPoint.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
// Основний блок>===========================================================================
.video {
	padding: 99px 0 100px 0;
	&__title {
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #023135;
		padding-right: 41px;
		span {
			font-size: 32px;
			line-height: 44px;
			text-align: center;
			letter-spacing: 0.2px;
			color: #007a5c;
			padding-right: 55px;
		}
	}

	&__text {
		text-align: center;
		padding: 13px 0 48px 0;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #909eab;
	}

	&__row {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 0 30px;
	}
}
.column {
	display: flex;
	flex-direction: column;
	flex: 0 1 33.333%;
	justify-content: center;
	align-items: center;
	text-align: center;
	&__title-v {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: #023135;
		margin: 0;
	}

	&__video {
	}
}
.video-btn {
	position: relative;
	&__button {
		position: absolute;
		top: 35%;
		left: 40%;
		width: 48px;
		height: 48px;
		background: #007a5c;
		background-image: url(../img/button-arrow.svg);
		background-position: center;
		background-repeat: no-repeat;
	}
}
// Основний блок>===========================================================================
.plan {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 43px;
	&__bg {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			object-fit: cover;
		}
	}
	&__title {
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		letter-spacing: 0.25px;
		color: #023135;
		padding-bottom: 24px;
	}


}
.plan-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #ffffff;
	border: 1px solid #ebf4ff;
	box-sizing: border-box;
	box-shadow: 0px 2px 25px rgba(76, 106, 170, 0.22);
	border-radius: 20px;
	padding: 33px 15px 25px 15px;
	margin: 25px 20px;
	&__title {
		padding-bottom: 24px;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #023135;
	}

	&__list {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.15px;
		color: #023135;
		padding: 0 15px;
		li {
			text-align: start;
			padding: 16px 0 0 0;
			&:first-child {
				padding: 0;
			}
			&:last-child {
				padding-bottom: 30px;
			}
		}
	}
	&__form {
		display: flex;
		justify-content: center;
	}
}
.form {
	&__button-plan {
		min-width: 270px;
		min-height: 44px;
	}
}
// Основний блок>===========================================================================
.FAQ {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 110px;
	&__title {
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #023135;
		text-align: center;
		padding-bottom: 36px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		max-width: 440px;
		margin: 0 auto;
		li {
		position: relative;
		padding-left: 36px;
		&:nth-child(2) {
			margin: 12px 0;
		}
	}
		a::before {
			content: "";
			position: absolute;
			display: inline-block;
			width: 18px;
			height: 18px;
			left: 1px;
			top: 3px;
			background-image: url(../img/list_plus.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
		a {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: #023135;
		}
	}
}
// Основний блок>===========================================================================
@media (max-width: 1000px) {
	.header {
		padding: 13px 0 25px 0;
	}
	.firstscreen {
		&__title {
			padding: 10px 10px 15px 0;
			font-size: 40px;
		}

		&__text {
			padding-bottom: 25px;
		}
}
	.phone {
		padding-top: 15px;
		&__title {
			padding-bottom: 30px;
			font-size: 27px;
			span {
				display: none;
			}
		}
	&__row {
		height: 500px;
	}
	.block__one {
		left: 0;
	}
	.block__three {
		top: 50%;
		left: 0;
	}
	.block__two {
		top: 0;
		right: 0;
	}
	.block__img{
		padding: 0;
		width: 275px;
		height: 470px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.arrow {
		display: none;
		position: absolute;
		&:nth-child(2) {
			left: 16%;
			top: 27%;
		}
		&:nth-child(4) {
			left: 20.3%;
			top: 75.5%;
		}
		&:nth-child(7) {
			right: 15.3%;
			top: 41.5%;
		}
	}
}
	.lesson {
		padding: 30px 0 30px 0;
		.button-wrapper {
			flex-wrap: wrap;
			width: 49%;
			margin: 0 auto;
			&__item {
				width: 100px;
				margin: 10px 5px;
			}
		}
	}
	.privilege {
		&__title {
			padding-bottom: 30px;
		}
		&__row {
			padding: 0 20px 45px 20px;
		}
	}
	.checklist {
		padding: 20px 0 20px 0;
		&__title span {
			display: none;
		}
		.list {
			padding-top: 20px;
		}
	}
	.video {
		padding: 40px 0 40px 0;
		&__title {
			padding: 0 20px;
			span {
				padding-right: 30px;
			}
		}
		&__text {
			padding: 13px 0 30px 0;
		}
		&__row {
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			.column {
				padding-top: 15px;
				margin: 0 20px;
				&__button {
					top: 50%;
					left: 40%;
				}
				&__title-v {
					padding: 0 0 10px 0;
				}
			}
		}
	}
	.plan {
		padding-top: 20px;
		&__row {
			padding: 25px 20px 35px 20px;
		}
		.slider-container {
			width: 100%;
		}
	}
	.FAQ {
		padding-bottom: 40px;
		&__title {
			padding-bottom: 20px;
		}
		&__list li:nth-child(2) {
			margin: 12px 0;
		}
	}
}
@media (max-width: 767.8px) {
	.header {
		padding: 7px 0 15px 0;
		.menu__list {
			max-width: 230px;
		}
	}
	.firstscreen {
		&__column {
			padding-bottom: 0;
		}
		&__title {
			padding: 10px 10px 10px 0;
			font-size: 34px;
			line-height: 36px;
		}

		&__text {
			padding-bottom: 10px;
		}
		.form {
			padding-bottom: 20px;
			font-size: 15px;
			z-index: 2;
			&__button {
				width: 150px;
				height: 40px;
				font-size: 15px;
			}
		}
}
	.lesson {
		padding: 20px 0 20px 0;
		.button-wrapper {
			max-width: 430px;
			flex-wrap: wrap;
			width: 71%;
			margin: 0 auto;
			&__item {
				width: 100px;
				margin: 10px 5px;
			}
		}
	}
	.phone {
		padding-top: 15px;
		&__title {
			padding-bottom: 30px;
			font-size: 27px;
			span {
				display: none;
			}
		}
	&__row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 10px 0;
	}
	.block {
		position: relative;
		padding: 10px;
	}
	.block__one {
		height: 100%;
		order: 1;
	}
	.block__three {
		order: 4;
		align-self: center;
	}
	.block__two {
		margin-top: 15px;
		order: 2;
	}
	.block__img{
		order: 3;
		position: relative;
		display: flex;
		transform: none;
		left: 0;
		padding-top: 20px;
		width: 360px;
		height: 600px;
		transform: translate(7px, 0);
		img {
			width: 100%;
			height: 100%;
		}
	}
	
}
	.privilege {
		&__column {
			margin: 0 15px;
		}
		&__title {
			padding-bottom: 30px;
		}
		&__row {
			padding: 0 10px 25px 10px;
		}
		.block-p {
			&__title {
				padding: 12px 0 7px 0;
			}
			&__text {
				padding: 0;
			}
		}
	}
	.checklist {
		padding: 20px 0 20px 0;
		&__title {
			font-size: 26px;
			line-height: 32px;
		}
		.list {
			padding-top: 20px;
		}
	}
	.video {
		padding: 40px 0 40px 0;
		&__title {
			padding: 0 20px;
			span {
				padding-right: 30px;
			}
		}
		&__text {
			padding: 13px 0 30px 0;
		}
		&__row {
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			.column {
				padding-top: 15px;
				margin: 0 20px;
				&__button {
					top: 50%;
					left: 40%;
				}
				&__title-v {
					padding: 0 0 10px 0;
				}
			}
		}
	}
	.plan {
		padding-top: 20px;
		&__row {
			padding: 25px 20px 35px 20px;
		}
	}
	.FAQ {
		padding-bottom: 40px;
		&__title {
			padding-bottom: 20px;
		}
		&__list li:nth-child(2) {
			margin: 12px 0;
		}
	}
	.menu-footer {
		justify-content: space-between;
		max-width: 370px;
		li {
			&:nth-child(2){
			padding: 0;
			}
			&:nth-child(3){
				padding-left: 0;
			}
			&:nth-child(1){
				padding-right: 0;
			}
	}
}
}
@media (max-width: 500px) {
	.header {
		padding: 7px 0 15px 0;
		&__logo {
			width: 80px;
		}
		.menu__list {
			max-width: 200px;
		}
	}
	.firstscreen {
		&__row {
			flex-flow: row-reverse;
		}
		&__column {
			flex: 0 1 50%;
			padding-bottom: 0;
		}
		&__title {
			padding: 0px 0px 5px 0;
			font-size: 28px;
			line-height: 27px;
		}
		&__text {
			font-size: 14px;
			line-height: 14px;
			padding-bottom: 10px;
		}
		&__img {
			img {
			left: -10px;
			object-position: left;
		}
	}
		.form {
			padding-bottom: 20px;
			font-size: 15px;
			
			&__button {
				width: 150px;
				height: 40px;
				font-size: 15px;
			}
		}
}
	.lesson {
		padding: 25px 0;
		.button-wrapper {
			max-width: 290px;
			flex-wrap: wrap;
			width: 100%;
			margin: 0 auto;
			&__item {
				width: auto;
				padding:0 5px;
				margin: 6px 5px;
			}
		}
	}
	.phone {
		padding: 25px 0;
		&__title {
			padding-bottom: 5px;
		}
	}
	.privilege {
		padding: 25px 0;
		&__column {
			margin: 0 15px;
		}
		&__title {
			font-size: 26px;
			padding-bottom: 0;
		}
		&__row {
			padding: 0 0px 15px 0px;
			display: flex;
			flex-direction: column;
		}
		.block-p {
			padding-top: 20px;
			&__title {
				padding: 5px 0 5px 0;
			}
			&__text {
				padding: 0;
			}
		}
	}
	.checklist {
		padding: 25px 0;
		&__title {
			font-size: 26px;
			line-height: 28px;
		}
		&__br {
			display: none;
		}
		.list {
			padding-top: 10px;
			&__item {
				padding-top: 7px;
				margin: 0;
				max-width: 245px;
			}
		}
	}
	.video {
		padding: 25px 0;
		&__title {
			padding: 0;
			font-size: 26px;
			line-height: 28px;
			span {
				padding-right: 10px;
				font-size: 26px;
				line-height: 28px;
			}
		}
		&__text {
			padding: 10px 0 15px 0;
		}
		&__row {
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			.column {
				padding-top: 15px;
				margin: 0 20px;
				&__button {
					top: 50%;
					left: 40%;
				}
				&__title-v {
					padding: 5px 0 3px 0;
				}
			}
		}
	}
	.plan {
		padding-top: 25px;
		&__title {
			font-size: 26px;
			line-height: 28px;
			padding-bottom: 15px;
		}
		.plan-block {
			.form__button-plan {
				min-width: 230px;
				height: 44px;
			}
			}
		
	}
	.FAQ {
		padding-bottom: 30px;
		&__title {
			font-size: 26px;
			line-height: 28px;
			padding-bottom: 20px;
		}
		&__list li:nth-child(2) {
			margin: 12px 0;
		}
	}
	.footer {
		padding: 20px 0 35px 0;
		&__row {
			flex-direction: column;
			width: 100vw;
			padding: 0 5px;
		}
		.logo img {
			top: 0%;
			left: 50%;
			transform: translate(-50%, 0);
		}
	.menu-footer {
		align-items: flex-start;
		justify-content: space-between;
		a {
			font-size: 14px;
		}	
}
}
}